    .projects {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: $default-grid-gap;
        margin-bottom: 10rem;
        @include respond(tab-port) {
            grid-template-columns: repeat(1, 1fr);
        }
        &:hover .project:not(:hover) .project__image {
            filter: blur(2px);
            @media screen and (hover: none) {
                filter: none;
            }
        }
    }
    
    .project {
        box-shadow: $default-box-shadow;
        position: relative;
        overflow: hidden;
        height: 100%;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba($color-black, .3);
        }
        &__image-box {
            height: 100%;
        }
        &__image {
            width: 100%;
            height: 100%;
        }
        &__overlay {
            transition: all .5s;
            position: absolute;
            transform: rotate(-45deg);
            visibility: visible;
            top: -146%;
            left: -150%;
            width: 180%;
            height: 170%;
            background: rgba($color-black, .9);
            @media screen and (hover: none) {
                left: -30%;
                top: -52%;
            }
        }
        &__details {
            width: 80%;
            z-index: 1;
            top: 40%;
            transform: translate(-50%, -50%);
            left: 50%;
            position: absolute;
            transition: .2s all;
            opacity: 0;
            @media screen and (hover: none) {
                opacity: 1;
            }
            @include respond(desktop-big) {
                top: 50%;
            }
        }
        &__name {
            letter-spacing: 3px;
            font-size: 3.5rem;
            margin-bottom: 1.7rem;
            font-weight: 700;
            @include respond(tab-port) {
                font-size: 4.5rem;
            }
            @include respond(phone) {
                font-size: 2.9rem;
            }
        }
        &__description {
            letter-spacing: 1px;
            font-size: 1.9rem;
            font-weight: 300;
            margin-bottom: 1.1rem;
            @include respond(tab-port) {
                font-size: 2.7rem;
            }
            @include respond(phone) {
                font-size: 1.6rem;
            }
        }
        &__technologies {
            margin-bottom: 1.5rem;
            font-weight: 300;
            color: $color-grey-light;
        }
        &__technology {
            font-weight: 700;
        }
        &__links {
            transition: .2s all;
            transition-delay: 500ms;
            transition-property: transform;
            z-index: 10;
            transform: translateX(100%);
            position: absolute;
            top: 75%;
            right: 0;
            background: $color-tertiary;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 0 2rem;
            color: $color-primary;
            width: 170px;
            @media screen and (hover: none) {
                transform: translateX(0);
            }
            @include respond(phone) {
                top: 80%;
                padding: 0.5rem 0;
            }
        }
        &__links:hover &__or {
            &::before {
                left: -40%;
            }
            &::after {
                right: -40%;
            }
        }
        &__link {
            transition: .2s all;
            text-decoration: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &:hover {
                transform: translateY(-3px);
            }
        }
        &__link-text {
            color: $color-primary;
            font-weight: bold;
            margin: .3rem 1rem;
            @include respond(phone) {
                display: none;
            }
        }
        &__link-icon {
            font-size: 2.5rem;
            margin: .3rem 1rem;
            color: $color-primary;
        }
        &__links-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__or {
            position: relative;
            font-weight: bold;
            font-size: 1.5rem;
            margin-bottom: 2rem;
            @include respond(phone) {
                display: none;
            }
            &::before,
            &::after {
                transition: .2s all;
                position: absolute;
                content: "  -  ";
            }
            &::before {
                left: -30%;
            }
            &::after {
                right: -30%;
            }
        }
        &:hover &__overlay {
            left: -30%;
            top: -52%;
        }
        &:hover &__details {
            opacity: 1;
        }
        &:hover &__links {
            transform: translateX(0);
        }
    }