.hamburger-btn {
    transition: .2s;
    position: fixed;
    cursor: pointer;
    width: 4rem;
    box-shadow: $default-box-shadow;
    height: 4rem;
    border-radius: 50%;
    background-color: $color-white;
    padding: 3rem;
    right: 5rem;
    top: 5rem;
    z-index: 1000;
    @include respond(tab-port) {
        right: 4rem;
        top: 3.2rem;
        padding: 2.4rem;
    }
    span {
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        &,
        &::before,
        &::after {
            display: inline-block;
            width: 3.2rem;
            height: 2px;
            background-color: $color-primary;
            position: absolute;
            @include respond(tab-port) {
                width: 2.7rem;
            }
        }
        &::before,
        &::after {
            content: '';
            visibility: visible;
            transition: .2s all;
        }
        &::before {
            margin-top: -10px;
        }
        &::after {
            margin-top: 10px;
        }
    }
    &.opened {
        @include respond(phone) {
            opacity: 0;
            visibility: hidden;
            // display: none;
        }
        span {
            visibility: hidden;
            &::before {
                transform: rotate(135deg);
                margin-top: 0;
            }
            &::after {
                transform: rotate(-135deg);
                margin-top: 0;
            }
        }
    }
    &:hover {
        box-shadow: .6rem .6rem 2rem rgba($color-black, .2);
    }
}